<div class="d-flex flex-column justify-content-center align-items-center occupy-all-screen login-background p-3">
  <div class="login-card">
    @if (!token) {
      <h1 class="text-4xl text-white mb-4">
        <strong>{{ 'ResetPassword.InvalidLinkTitle' | translate }}</strong>
      </h1>
      <p class="text-white">{{ 'ResetPassword.InvalidLinkMessage' | translate }}</p>

      <button pButton severity="success" type="button" (click)="handleGoBack()" class="p-button-lg">
        <span pButtonLabel>{{ 'ResetPassword.GoBackButtonText' | translate }}</span>
      </button>
    } @else if (!isSubmitted) {
      <h1 class="text-4xl text-white mb-4">
        <strong>{{ 'ResetPassword.Title' | translate }}</strong>
      </h1>
      <p class="text-white">{{ 'ResetPassword.Text' | translate }}</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="flex flex-col">
          <input pInputText type="password" [placeholder]="'ResetPassword.NewPasswordPlaceholder' | translate" formControlName="newPassword" [invalid]="isInvalid('newPassword')" class="p-inputtext-lg" />
          @if (isInvalid('newPassword')) {
            @if (resetPasswordForm.get('newPassword')?.errors?.['required']) {
              <p-message severity="error" size="small" [text]="'ResetPassword.Errors.PasswordRequired' | translate"></p-message>
            }
            @if (resetPasswordForm.get('newPassword')?.errors?.['passwordInvalid']) {
              <p-message severity="error" size="small" [text]="'ResetPassword.Errors.PasswordInvalid' | translate"></p-message>
            }
          }
        </div>

        <div class="flex flex-col">
          <input pInputText type="password" [placeholder]="'ResetPassword.ConfirmPasswordPlaceholder' | translate" formControlName="confirmPassword" [invalid]="isInvalid('confirmPassword')" class="p-inputtext-lg" />
          @if (isInvalid('confirmPassword') && resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
            <p-message severity="error" size="small" [text]="'ResetPassword.Errors.ConfirmPasswordRequired' | translate"></p-message>
          }
          @if (passwordsMismatch()) {
            <p-message severity="error" size="small" [text]="'ResetPassword.Errors.PasswordMismatch' | translate"></p-message>
          }
        </div>

        <div class="display-horizontal-center gap-5 mt-4">
          <button pButton type="button" severity="secondary" (click)="handleGoBack()" class="p-button-lg">
            <span pButtonLabel>{{ 'ResetPassword.GoBackButtonText' | translate }}</span>
          </button>

          <button pButton severity="success" type="submit" [loading]="isLoading" class="p-button-lg">
            <span pButtonLabel>{{ 'ResetPassword.SubmitButtonText' | translate }}</span>
          </button>
        </div>
      </form>
    } @else {
      <h1 class="text-4xl text-white mb-4">
        <strong>{{ 'ResetPassword.Title' | translate }}</strong>
      </h1>
      <p class="text-white">{{ 'ResetPassword.SuccessMessage' | translate }}</p>

      <button pButton severity="success" type="button" (click)="handleGoBack()" class="p-button-lg">
        <span pButtonLabel>{{ 'ResetPassword.GoBackButtonText' | translate }}</span>
      </button>
    }
  </div>
</div>
