.sell-points-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .sell-points-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}