<div 
  class="sell-card card-border-theme" 
  [class.selected]="isSelected"
  [class.cursor-pointer]="isSelectable"
  (click)="isSelectable && handleClickSellPoint()"
>
  <div class="d-flex justify-content-between align-items-start text-color">
    <div class="d-flex align-items-center gap-2 flex-wrap">
      <h3 class="sell-title m-0">{{ sellPoint.name }}</h3>
      @if (isPreferred) {
        <p-tag [value]="preferredLabel" icon="pi pi-star-fill" severity="warn"></p-tag>
      }
    </div>

    @if (isDistanzaVisible) {
      <p class="distance-badge">{{ sellPoint.distance | KmLabelPipe:'postfix' }}</p>
    }
  </div>

  <div class="sell-info text-color">
    <p class="sell-location">
      <i class="bi bi-geo-alt-fill"></i>
      {{ sellPoint.address }}, {{ sellPoint.city }} ({{ sellPoint.province }})
    </p>

    <p class="sell-description text-color">
      {{ sellPoint.description }}
    </p>
  </div>

  <div class="sell-footer">
    <p-button 
      [label]="searchOnMapsLabel"
      icon="pi pi-search" 
      [severity]="handleButtonTheme()" 
      (onClick)="handleGoToMaps()"
    />
  </div>
</div>