<div class="p-3 custom-footer background-color-custom text-color">

    <div class="d-flex flex-column p-3 text-color">
        <h6><strong>{{ 'Footer.HelpAndInfo.Title' | translate }}</strong></h6>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.HelpAndInfo.Help' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.HelpAndInfo.TrackOnline' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.HelpAndInfo.Shipments' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.HelpAndInfo.ReturnItem' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.HelpAndInfo.DamagedItem' | translate }}</a>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column p-3 text-color">
        <h6><strong>{{ 'Footer.SellPoints.Title' | translate }}</strong></h6>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.SellPoints.FindValidPoint' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'Footer.SellPoints.BecomeAffiliate' | translate }}</a>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column p-3 text-color">
        <h6><strong>{{ 'Footer.ContactUs.Title' | translate }}</strong></h6>
        <button class="btn btn-primary mt-1">
            {{ 'Footer.ContactUs.GoToSupport' | translate }}
        </button>
    </div>

</div>